.elementor-kit-6{--e-global-color-primary:#1C244B;--e-global-color-secondary:#FFFFFF;--e-global-color-text:#1C244B;--e-global-color-accent:#6EC1E4;--e-global-color-5b7fe9e:#1B1D2BC9;--e-global-typography-primary-font-family:"Poppins";--e-global-typography-primary-font-size:16px;--e-global-typography-primary-font-weight:300;--e-global-typography-secondary-font-family:"Poppins";--e-global-typography-secondary-font-size:14px;--e-global-typography-secondary-font-weight:300;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;color:var( --e-global-color-primary );font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-size:var( --e-global-typography-primary-font-size );font-weight:var( --e-global-typography-primary-font-weight );}.elementor-kit-6 button,.elementor-kit-6 input[type="button"],.elementor-kit-6 input[type="submit"],.elementor-kit-6 .elementor-button{background-color:#282E4C;font-family:"Poppins", Sans-serif;font-size:16px;font-weight:500;color:#FFFFFF;border-style:none;border-radius:12px 12px 12px 12px;}.elementor-kit-6 button:hover,.elementor-kit-6 button:focus,.elementor-kit-6 input[type="button"]:hover,.elementor-kit-6 input[type="button"]:focus,.elementor-kit-6 input[type="submit"]:hover,.elementor-kit-6 input[type="submit"]:focus,.elementor-kit-6 .elementor-button:hover,.elementor-kit-6 .elementor-button:focus{background-color:var( --e-global-color-primary );color:#FFFFFF;border-style:none;border-radius:12px 12px 12px 12px;}.elementor-kit-6 e-page-transition{background-color:#FFBC7D;}.elementor-kit-6 a{color:var( --e-global-color-primary );}.elementor-kit-6 h1{font-family:"Poppins", Sans-serif;font-size:52px;font-weight:600;}.elementor-kit-6 h2{font-family:"Poppins", Sans-serif;font-size:28px;font-weight:600;}.elementor-kit-6 h3{font-family:"Poppins", Sans-serif;font-size:21px;font-weight:600;}.elementor-kit-6 label{color:var( --e-global-color-secondary );font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-size:var( --e-global-typography-primary-font-size );font-weight:var( --e-global-typography-primary-font-weight );}.elementor-kit-6 input:not([type="button"]):not([type="submit"]),.elementor-kit-6 textarea,.elementor-kit-6 .elementor-field-textual{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-size:var( --e-global-typography-primary-font-size );font-weight:var( --e-global-typography-primary-font-weight );color:#FFFFFF;accent-color:var( --e-global-color-accent );background-color:#2F3346;border-style:none;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}.site-header .site-branding{flex-direction:column;align-items:stretch;}.site-header{padding-inline-end:0px;padding-inline-start:0px;}@media(max-width:1024px){.elementor-kit-6{font-size:var( --e-global-typography-primary-font-size );}.elementor-kit-6 label{font-size:var( --e-global-typography-primary-font-size );}.elementor-kit-6 input:not([type="button"]):not([type="submit"]),.elementor-kit-6 textarea,.elementor-kit-6 .elementor-field-textual{font-size:var( --e-global-typography-primary-font-size );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-6{font-size:var( --e-global-typography-primary-font-size );}.elementor-kit-6 label{font-size:var( --e-global-typography-primary-font-size );}.elementor-kit-6 input:not([type="button"]):not([type="submit"]),.elementor-kit-6 textarea,.elementor-kit-6 .elementor-field-textual{font-size:var( --e-global-typography-primary-font-size );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}
/* Start custom CSS */html {
    scroll-behavior: smooth;
}

.icon {
    
    height: 40px;
    
}

.hidden {
    display: none;
}


svg.e-font-icon-svg.e-fas-chevron-down {
    vertical-align: middle;
}

.elementor-button-icon .e-font-icon-svg {
    height: 0.8em;
}

.elementor-button-icon svg {
    width: 0.8em;
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
background: rgb(255,232,180);
background: -moz-linear-gradient(0deg, rgba(255,232,180,0.2973783263305322) 0%, rgba(255,255,255,1) 51%, rgba(236,250,255,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(255,232,180,0.2973783263305322) 0%, rgba(255,255,255,1) 51%, rgba(236,250,255,1) 100%);
background: linear-gradient(0deg, rgba(255,232,180,0.2973783263305322) 0%, rgba(255,255,255,1) 51%, rgba(236,250,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe8b4",endColorstr="#ecfaff",GradientType=1);
}





.elementor-toggle .elementor-tab-title .elementor-toggle-icon svg {
    margin-inline-start: -5px;
    width: 0.7em !important;
    height: 0.7em !important;
}

.elementor-element.elementor-element-3f87bfd.e-con-full.e-flex.e-con.e-child {
    height: 750px;
}

li.elementor-icon-list-item.elementor-inline-item {
    margin-bottom: 0.5em;
} 

input#email-fe77860f-8d1d-4269-9f06-01caeb61405e {
    margin-bottom: 1em;
}

ul.no-list.hs-error-msgs.inputs-list {
    margin-bottom: 1em;
}

ul.no-list.hs-error-msgs.inputs-list ::marker {
    color: white;
}






#hsForm_4ab476a0-a6d4-4b52-b326-b347aa1a9e8c > div.hs_email.hs-email.hs-fieldtype-text.field.hs-form-field > div {
    margin-bottom: 1em;
}

/*ul.no-list.hs-error-msgs.inputs-list {*/
/*    color: #1C244B;*/
/*}*/
/*ul.no-list.hs-error-msgs.inputs-list li::marker {*/
/*    color: #1C244B;*/
/*}*/

/*ul.no-list.hs-error-msgs.inputs-list li label.hs-error-msg.hs-main-font-element {*/
/*        color: #1C244B;*/
/*}*//* End custom CSS */