.manifest-section {
  color: #ffffff;
}

.manifest-section__frame {
  background: linear-gradient(180deg, #000c10 0%, #001a23 100%);
}

.manifest-section [data-scroll-fade]:not(.is--inview) {
  opacity: 0;
}
